.footerRoot {
    margin: 0;
    font-size: 0.6em;
    text-align: center;
    color: var(--text-color);
    margin-top: 10px;
    width: 100%;
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translate(-50%, 0);
}

@media (max-width: 768px) {
    .footerRoot {
        position: initial;
        transform: inherit;
    }
}