.profileSection {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 15px;
}

.profilePicture {
    width: 80px;
    height: 80px;
    border-radius: 8px;
    object-fit: cover;
}

.titleSection {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
}

.headerTitlesRoot .title {
    font-size: 1.75rem;
    text-align: right;
    margin: 0;
    color: #0083ff;
    height: auto;
    line-height: 1;
}

.headerTitlesRoot .subtitle {
    font-size: 1rem;
    margin: 0;
    text-align: right;
    color: var(--text-color);
    margin-right: 4px;
}

.iconsRow {
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-top: 5px;
}

.iconCont {
    width: 36px;
    height: 36px;
    background-color: var(--tag-bg-color);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    transition: 0.3s;
    text-decoration: none;
}

.iconCont svg {
    color: var(--text-color);
}

.iconCont:hover {
    background-color: #0083ff;
    box-shadow: 0 14px 24px 0 rgba(39, 158, 255, 0.2);
}

.iconCont:hover svg{
    color: white;
}

@media (max-width: 768px) {
    .profileSection {
        gap: 10px;
    }
    
    .profilePicture {
        width: 60px;
        height: 60px;
    }
    
    .headerTitlesRoot .title {
        height: auto;
        font-size: 1.6rem;
    }
    .headerTitlesRoot .subtitle {
        font-size: 0.7rem;
    }
}
