.sidebarRoot {
    flex: 0.8;
    padding: 1.5rem;
    position: relative;
}

.sidebarRoot .description {
    color: #52648e;
    text-align: right;
    font-size: 0.8rem;
    
}

.copyRight {
    margin: 0;
    font-size: 0.6em;
    text-align: center;
    color: #52648e;
    margin-top: 10px;
    width: 100%;
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translate(-50%, 0);
}

.sideBarDivider {
    position: absolute;
    height: 657px;
    width: 2px;
    right: 0;
    top: 40px;
    background-color: rgba(212, 220, 241, 0.4);
    border-radius: 40px;
}


@media (max-width: 768px) {
    .sidebarRoot {
        display: none;
    }
}

@media (max-width: 1280px) {
    .copyRight {
        display: none;
    }
}