.sidebarRoot {
    flex: 0.8;
    padding: 1.5rem;
}


.sidebarRoot h1 {
    font-size: 2.25rem;
    text-align: right;
    margin: 0;
    color: #0083ff;
    height: 60px;
}

.sidebarRoot h2 {
    font-size: 1rem;
    margin: 0;
    text-align: right;
    color: #2d4379;
    margin-right: 4px;
}

.iconsRow {
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-top: 5px;
}

.iconCont {
    width: 36px;
    height: 36px;
    background-color: rgba(212, 220, 241, 0.3);
    border-radius: 10px;
    text-align: center;
    line-height: 36px;
    margin-left: 10px;
    transition: 0.3s;
    text-decoration: none;
}

.iconCont i {
    color: #2d4379;
    font-size: 20px;
}

.iconCont:hover {
    background-color: #0083ff;
    box-shadow: 0 14px 24px 0 rgba(39, 158, 255, 0.2);
}

.iconCont:hover i{
    color: white;
}


.sidebarRoot p {
    color: #52648e;
    text-align: right;
    font-size: 0.8rem;
    
}

.copyRight {
    margin: 0;
    font-size: 0.6em;
    text-align: center;
    color: #52648e;
    margin-top: 10px;
}


@media (max-width: 768px) {
    .sidebarRoot {
        display: none;
    }
}