{
  "extends": ["airbnb", "plugin:prettier/recommended", "prettier/react", "prettier/standard"],
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {
      "forOf": true,
      "jsx": true,
      "es6": true
    }
  },
  "rules": {
    "comma-dangle": 0,
    "indent": 0,
    "react/prop-types": 0,
    "react/jsx-indent-props": 0,
    "react/jsx-closing-bracket-location": 0,
    "object-curly-spacing": 0,
    "arrow-body-style": 0,
    "no-console": 0,
    "max-len": 0,
    "prefer-template": 0,
    "prefer-destructuring": 1,
    "global-require": 0,
    "no-underscore-dangle": 0,
    "import/no-unresolved": 2,
    "import/named": 0,
    "import/namespace": 0,
    "import/default": 0,
    "import/export": 2,
    "import/first": 0,
    "eqeqeq": 1,
    "no-use-before-define": 0,
    "no-shadow": 0,
    "no-param-reassign": 0,
    "vars-on-top": 0,
    "no-var": 1,
    "prefer-const": 1,
    "eol-last": 0,
    "consistent-return": 0,
    "no-useless-escape": 0,
    "no-undef": 2,
    "no-alert": 1,
    "import/extensions": 0,
    "strict": 1,
    "lines-around-directive": 1,
    "import/newline-after-import": 1,
    "spaced-comment": 0,
    "react/jsx-filename-extension": 1,
    "class-methods-use-this": 0,
    "no-else-return": 1,
    "import/no-mutable-exports": 2,
    "no-unused-vars": 2,
    "object-shorthand": 1,
    "dot-notation": 1,
    "prefer-arrow-callback": 1,
    "import/prefer-default-export": 1,
    "one-var": 1,
    "no-plusplus": 0,
    "react/sort-comp": 0,
    "react/jsx-no-bind": 1,
    "react/jsx-first-prop-new-line": 0,
    "react/no-multi-comp": 1,
    "react/no-array-index-key": 0,
    "react/self-closing-comp": 1,
    "react/require-default-props": 1,
    "react/prefer-stateless-function": 1,
    "jsx-a11y/no-static-element-interactions": 0,
    "react/jsx-space-before-closing": 0,
    "react/jsx-tag-spacing": 0,
    "no-restricted-syntax": 0,
    "react/no-did-mount-set-state": 1,
    "react/forbid-prop-types": 1,
    "operator-assignment": 1,
    "no-unused-expressions": [
      2,
      {
        "allowShortCircuit": true
      }
    ],
    "react/jsx-boolean-value": 0,
    "default-case": 1,
    "no-useless-concat": 1,
    "no-nested-ternary": 1,
    "jsx-a11y/label-has-for": 1,
    "jsx-a11y/anchor-has-content": 1,
    "jsx-a11y/anchor-is-valid": 1,
    "jsx-a11y/click-events-have-key-events": 1,
    "jsx-a11y/alt-text": 1,
    "import/no-named-as-default": 1,
    "react/no-unescaped-entities": 1,
    "react/no-unused-prop-types": 1,
    "react/no-unused-state": 1,
    "react/destructuring-assignment": 0,
    "react/button-has-type": 1
  },
  "plugins": ["react"],
  "globals": {
    "__DEVSERVER__": true,
    "__DEVCLIENT__": true,
    "FB": true
  }
}
